Source: u-boot-beagleboard
Section: bootloader
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: u-boot-beagleboard
Architecture: armhf armel
Depends: ${misc:Depends}
Description: Das U-Boot bootloader for Beagleboard Rev C/D
 The U-Boot bootloader (including MLO) for Beagleboard Rev C/D.
